.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px;
    border-radius: 12px;
    background-color: white;
}

.about__profile {
    grid-column: 1 / 2;
}

.about__content {
    grid-column: 2 / 4;
}

.about__about_me > h2 {
    margin-block-end: 0;
}

.about__contact {
    display: flex;
}

.about__contact--email {
    text-decoration: none;
    color: black;
    margin-inline-start: 16px;
    margin-block-start: 5px;
}

.about__contact::before {
    content: url('../icons/email-24px.svg');
}