body {
    margin: 0;
    padding: 0;
    max-width: 1144px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 50px;
    background-color: lightgrey;
}

img {
    border-radius: 12px;
}

